body,
html {
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    font-family: "Rubik", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 2px solid #eee;
}

.header .title {
    line-height: 60px;
    color: #111;
    font-size: 25px;
    padding: 0 20px;
}

.site-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 64px);
}

.sidebar {
    order: 0;
    flex-basis: 275px;
    min-width: 275px;
    border-right: 2px solid #eee;
    height: 100%;
}

.sidebar .sidebar-title {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    color: #2d2e5a;
    margin: 20px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    width: calc(100% - 50px);
    line-height: 34px;
    color: #555;
    padding: 0 10px;
    margin: 5px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.sidebar ul li.active {
    background: #e3efff;
    font-weight: bold;
    color: #4c6ef5;
    box-shadow: 1px 2px 8px rgba(200,200,200,0.2);
}

.content-wrapper {
    order: 1;
    flex-basis: auto;
    flex-grow: 1;
    background: #fff;
    height: 100%;
    padding: 0 30px 0 30px;
    position: relative;
    top: 0;
    font-size: 15px;
    line-height: 28px;
    color: #333;
    overflow: auto;
}

.content {
    width: 100%;
    max-width: 950px;
    padding-bottom: 50px;
}

.content .location {
    width: 100%;
    line-height: 50px;
    font-size: 13px;
    color: #777;
}

.content .location i {
    color: #aaa;
    font-size: 10px;
    padding: 0 6px;
}

.content .block {
    width: 100%;
    margin: -30px;
    padding: 30px;
    background: #f8f8f8;
}

.content .topic-table {
    width: 100%;
    height: auto;
    border-spacing: 0;
}

.content .topic-table tr {
    min-height: 100px;
}

.content .topic-table tr td:first-child{
    font-size: 21px;
    color: #444;
    vertical-align: top;
    padding: 45px 0;
    border-top: 1px solid #ddd;
    width: 35%;
}

.content .topic-table tr td:last-child{
    font-size: 15px;
    color: #444;
    vertical-align: top;
    padding: 30px 0;
    border-top: 1px solid #ddd;
}

.content .topic-table tr td:last-child ul {
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content .topic-table tr td:last-child ul li {
    margin: 15px 0;
}

.content .topic-table tr td:last-child ul li .title{
    font-size: 18px;
    font-family: 'PT Mono', monospace;
    color: #444;
    cursor: pointer;
}

.content .topic-table tr td:last-child ul li .title span{
    color:  #1373d1;
}

.content .topic-table tr td:last-child ul li .title:hover{
    text-decoration: underline;
}

.content .topic-table tr td:last-child ul li .description{
    font-size: 16px;
    font-family: "Rubik", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #666;
    padding: 0 0 0 20px;
    line-height: 35px;
    width: calc(100% - 20px);
}

.content h1,
.content h2,
.content h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.content h1 {
    font-size: 35px;
    line-height: 60px;
}

.content h1.reduced {
    line-height: 30px;
    margin: 0;
}

.content h2,
.content h3 {
    margin-top: 40px;
    line-height: 38px;
}

.content h2 {
    font-size: 26px;
}

.content h2.reduced{
    margin-top: 0;
}

.content h3 {
    line-height: 30px;
}

.content p.class-blurb {
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
    color: #444;
    font-weight: lighter;
}

.content hr {
    border: 1px solid #eee;
    margin: 40px 10px 30px 10px;
}

.content a,
.content .link{
    text-decoration: none;
    color: #1373d1;
    cursor: pointer;
}

.content a:hover,
.content .link:hover {
    text-decoration: underline;
}

.content .doc-type {
    color: #888;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content pre {
    margin: 0;
    padding: 15px 25px;
    width: calc(100% - 50px);
    height: auto;
    background: #222;
    border-radius: 3px;
    font-family: 'PT Mono', monospace;
    color: #ccc;
}

.content code {
    font-family: 'PT Mono', monospace;
    padding: 0 5px;
}

.content p code {
    padding: 2px 8px;
    background: rgba(227, 239, 255, 0.51);
    border-radius: 2px;
    font-family: 'PT Mono', monospace;
    border: 0.5px solid #c6d0df;
}

.content .parameters-block {
    width: calc(100% - 40px);
    height: auto;
    padding: 0 20px;
}

.content .parameters-block code{
    font-size: 16px;
    font-weight: bold;
    font-family: 'PT Mono', monospace;
}

.content .parameters-block code i{
    color: #1373d1;
    font-weight: normal;
}

.content .parameters-block p{
    margin: 8px 20px;
    font-size: 15px;
}

.content .parameters-block p code{
    font-weight: normal;
}

.content .quote {
    margin: 0;
    padding: 0;
    background: #eee;
    border-radius: 3px;
    overflow: hidden;
}

.content .quote .quote-title{
    letter-spacing: 2px;
    font-weight: lighter;
    background: #ddd;
    line-height: 40px;
    padding: 0 10px;
}

.content .quote .quote-text {
    padding: 10px;
}

.content .notification {
    padding: 10px 20px;
    margin: 0;
    width: calc(100% - 44px);
    height: auto;
    border-radius: 4px;
}

.content .notification .notification-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.7);
}

.content .notification .notification-body{
    padding: 10px 0;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}

.content .notification.warn {
    border: 2px solid rgba(255, 188, 0, 0.6);
    background: rgba(255, 188, 0, 0.1);
}

.content .notification.info {
    background: rgba(76, 110, 245, 0.1);
    border: 2px solid rgba(76, 110, 245, 0.6);
}

.content .page-content {
    position: fixed;
    top: 90px;
    left: 1300px;
    width: 220px;
    height: auto;
    border-left: 1px solid #eee;
    font-size: 13px;
    color: #222;
}

.content .page-content strong{
    padding: 0 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content .page-content ul{
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.content .page-content ul li{
    width: calc(100% - 20px);
    padding: 0 10px;
    color: #777;
    cursor: pointer;
    line-height: 28px;
    transition: color 0.2s ease-in-out;
}

.content .page-content ul li:hover{
    color: #333;
}

.content .page-content ul li.active{
    font-weight: 500;
    color: #1373d1;
}
